
<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item", style: "background-size: cover">
     <%=image_tag("870969-antique-books-bookshelf-desks-library-objects 2.jpg") %>
     <div class="carousel-caption">
      <h4>
       The comfort of a book never grows old!
     </h4>
     <p>
       New, old or antique, your book wishes can come true with our servise!
     </p>
   </div>
 </div>
 
 <div class="item">
   <%= image_tag("antique-books.jpg") %>
   <div class="carousel-caption">
     <h4>
      Find those old favorites you grew up with!
    </h4>
    <p>
      If its for yourself or to introduce your kids to them, we can help! 
    </p>
  </div>
</div>

</div>

</div>
</div>
<div class="container">
  <div>
    <p class="home-text">We provide a large range of services from our store which can help you locate all your old favorites! such as these from you favorite series! </p>
  </div>
  <ul class="photo-grid">
    <li>
      
      <figure>
        <img src="http://thumbs3.ebaystatic.com/d/l225/m/mgstJfb8-wZGa48Ju3XDK0A.jpg" height="180" width="320" alt="#">
        <figcaption><p>The Lone Ranger!</p></figcaption>
      </figure>
      
    </li>
    <li>
      
      <figure>
        <img src="https://img1.etsystatic.com/109/0/8759630/il_340x270.1109299857_8ksg.jpg">
        <figcaption><p>Hardy Boys!</p></figcaption>
      </figure>
      
    </li>
    <li>
      <figure>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/TomSwiftMotorcycleSmallCropped.jpg/220px-TomSwiftMotorcycleSmallCropped.jpg" height="180" width="320" alt="Notre Dame">
        <figcaption><p>Tom Swift!</p></figcaption>
      </figure>
      
    </li>
  </ul>
</div>

<div class="container">
  <div>
    <p class="home-text">If we dont have the books you require, do not worry! we have experts in the books industry who will locate the book for you!*</p>
  </div>
  <ul class="photo-grid">
    <li>
      
      <figure>
        <%= image_tag("8466e90e9cd4e96e2fd6ca051a66ecc4.jpg") %>
        <figcaption><p>Does Not Matter how Rare!</p></figcaption>
      </figure>
      
    </li>
    <li>
      
      <figure>
        <img src="http://www.stconstanceschool.org/images/Ctrl_BoomImage/B9317706264Z.1_20150613095123_000_GMLB2EMAU.1-0_uid7272016118042.jpg">
        <figcaption><p>Within 30 days you will know if we can get it for you!</p></figcaption>
      </figure>
      
    </li>
    <li>
      <%= link_to main_app.requests_path do %>
      <figure>
        <%= image_tag "booknow-blue.png", class: "some css class here" %>
        <figcaption><p>Checkout our Request page for more information! Click HERE!</p></figcaption>
        <% end %>
      </figure>
    </li>
  </ul>
</div>
