<nav class="columns sixteen">
  <ul id="main-nav-bar" class="inline" data-hook>

  <li id="home-link" data-hook><%= link_to "Home", main_app.root_path %></li>
  <li class="active?"><%= link_to "About", main_app.pages_about_us_path %>
  </li>
  <li class="active?"><%= link_to "Request", main_app.requests_path %>
  </li>

    <li id="home-link" data-hook><%= link_to Spree.t(:Store), spree.root_path %></li>
    <li id="link-to-cart" data-hook>
      <noscript>
        <%= link_to Spree.t(:cart), '/cart' %>
      </noscript>
      &nbsp;
    </li>
    <script>Spree.fetch_cart('<%= j spree.cart_link_url %>')</script>
  </ul>
</nav>
